*{margin: 0; padding: 0; box-sizing: border-box;}

body {
    background: url("../image/fundo.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#janela{
    background-color: #fff;
    width: 395px;
    height: 200px;
    margin: 100px auto 0;
    box-shadow: 0px 1px 15px 1px rgba(0,0,0,0.7);
}
#login{
    margin-left: 65px;
    padding-top: 50px;
}
article h1{
    color: #e91e63;
    font-family: 'Roboto', sans-serif;
    font-size: 40pt;
    font-weight: normal;
    text-align: center;
    margin-top: 100px;
}
.inputelabel{
    position: relative;
}
.barra{
    position: relative;
    display: block;
    width: 280px;
    left: 50px;
    top: 45px;
}
.barra:before, .barra:after{
    content: "";
    height: 2px;
    width: 0;
    bottom: -1px;
    position: absolute;
    background: rgba(255,0,0,0.87);
    transition: 0.2s ease all;
    top: 25px;
}
.barra:before{
    left: 50%;
}
.barra:after{
    right: 50%;
}
input:valid{
    border-bottom: 1px solid rgba(0,0,0,0.42);
}
input:valid ~ .barra:before,
input:valid ~ .barra:after{
    background-color: #e91e63 !important;
}
input:focus ~ .barra:before,
input:focus ~ .barra:after {
    width: 50%;
}

label.sobelabel{
    top: 26px;
    font-size: 12px;
    color: rgba(255,0,0,0.87);
    transition: 0.2s ease all;
}
label.cinza{
    color: rgba(0,0,0,0.42);
    transition: 0.2s ease all;
}
label.rosa{
     color: #e91e63;
     transition: 0.2s ease all;
 }
label.vermelho{
    color: rgba(255,0,0,0.87);
    transition: 0.2s ease all;
}
input.barred{
    border-color: rgba(255,0,0,0.87);
}
p{
    display: none;
}
p.si{
    display: block;
    font-size: 12px;
    color: rgba(255,0,0,0.87);
    font-family: 'Roboto', sans-serif;
    position: absolute;
    top: 76px;
    left: 50px;
}
