body {
    font-family: 'Roboto', sans-serif;
    transition: background-color .5s;
    margin: 0;
    padding: 0;
    cursor: default;
    user-select: none;
}
.bar {
    position: fixed;
    transition: margin-left 0s;
    width: 100%;
    height: 58px;
    background-color: #8d6e63;
    color: #fff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3), 0 4px 12px rgba(0,0,0,0.15);
}
.nav{
    width: 320px;
    height: 100%;
    position: fixed;
    z-index: 1;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.2s;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3), 0 4px 12px rgba(0,0,0,0.15);
}
.nav.close{
    width: 320px;
    height: 100%;
    position: fixed;
    z-index: 1;
    background-color: #fff;
    overflow-x: hidden;
    transition: ease-out 0.2s;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3), 0 4px 12px rgba(0,0,0,0.15);
    transform: translateX(-100%);
}
.links{
    height: 56px;
    background-color: #fff;
    transition: 0.2s;
}
.links.close {
    height: 0;
    background-color: #fff;
    transition: 0.2s;
}
.navInside{
    z-index: 1;
    position: relative;
    height: 56px;
    background-color: #fff;
}
.navBar{
    transition: margin-left 0s;
    width: 100%;
    height: 57px;
    background-color: #fff;
    color: #fff;
    border: 1px solid #eee;
}
.activeB{
    background-color: #fff;
}
/*.navBarUser{*/
    /*transition: margin-left 0s;*/
    /*width: 100%;*/
    /*height: 58px;*/
    /*background-color: #8d6e63;*/
    /*box-shadow: 0 4px 8px rgba(0,0,0,0.3), 0 4px 12px rgba(0,0,0,0.15);*/
    /*color: #fff;*/
/*}*/
.buttonText1{
    position: absolute;
    padding: 19px;
    background-color: transparent;
}
.buttonText2{
    overflow: hidden;
    bottom: 57px;
    position: relative;
    padding: 19px;
    transition: 0.2s;
}
.show{
    background-color: #eee;
    bottom: 0;
    transition: 0.2s;
}
.user{
    margin: 9px;
    width: 40px;
    border-radius: 50%;
    position: absolute;
    z-index: 10;
    right: 14px;
    transition: 0.2s;
}
.move{
    right: 174px;
}
div.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
.arrow{
    color: #000;
}
.iconsMenu{
    position: relative;
    margin: 17px;
    z-index: 1;
    outline: none;
}
.seta{
    position: absolute;
    right: 0;
    transition: 0.2s;
}
.baixo{
    transform: rotate(90deg);
    transition: 0.2s;
}
.logo{
    width: 200px;
    position: absolute;
    top: 8px;
    left: 55px;
}
h1{
    margin: 0;
    color: red;
    font-size: 20pt;
    font-family: 'Roboto', sans-serif;
}
.logoff{
    background-color: #fff;
    width: 160px;
    height: 56px;
    position: absolute;
    right: 0;
    top: 58px;
    box-shadow: 0 0 8px rgba(0,0,0,0.3), 0 4px 12px rgba(0,0,0,0.15);
    transition: 0.2s;
    z-index: -1;
}
.logoff.close{
    background-color: #fff;
    width: 160px;
    height: 0;
    position: absolute;
    right: 0;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3), 0 4px 12px rgba(0,0,0,0.15);
}
.background{
    width: 100%;
    height: 100%;
    background-color: transparent;
    position: absolute;
    display: none;
}
.active{
    background-color: rgba(0,0,0,0.3);
    display: block;
}
.cardProdutos{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2px;
    padding-bottom: 24px;
    background-color: #fff;
    top: 100px;
    width: 700px;
    min-height: 170px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3), 0 4px 12px rgba(0,0,0,0.15);
}
.produto{
    border-bottom: 1px solid #E0E0E0;
}
.produto:first-child{
    border-top: 1px solid #E0E0E0;
}
/*::-webkit-scrollbar {*/
    /*display: none;*/
/*}*/
.textProd{
    padding: 23px 24px 16px 24px;
    height: 41px;
    color: rgba(0,0,0,0.87);
    font-size: 20px;
}
.pesquisa{
    padding: 23px 24px 16px 24px;
    height: 41px;
    display: none;
}
.caixa{
    height: 26px;
    border: none;
    border-radius: 2px;
    outline: none;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    padding-bottom: 0;
    display: block;
    transition: 1s;
}
.pesquisaProd{
    width: 575px;
    margin-left: 13px;
    border: none;
    outline: none;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}
.dadosProd{
    margin-top: 32px;
    border-collapse: collapse;
}
.nomeProd{
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    color: rgba(0,0,0,0.87);
    width: 100%;
    padding: 17px;
    box-sizing: border-box;
    list-style: none;
}
.quantProd{
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    color: rgba(0,0,0,0.87);
    text-align: center;
    padding: 17px;
    box-sizing: border-box;
    list-style: none;
}
.fotoProd{
    margin-left: 24px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}
.filter{
    float: right;
    opacity: .54;
    outline: none;
    transition: 0.5s;
    border-radius: 50%;
    padding: 8px;
    margin: -8px;
}
.search{
    float: left;
    opacity: .54;
    outline: none;
    transition: 0.5s;
    border-radius: 50%;
    padding: 8px;
    margin: -8px;
    margin-left: 0px;
}
.exit{
    float: right;
    opacity: .54;
    outline: none;
    transition: 0.5s;
    border-radius: 50%;
    padding: 8px;
    margin: -8px;
}
.formIcons{
    float: right;
    outline: none;
    opacity: .54;
    transition: 0.5s;
    padding: 8px;
    border-radius: 50%;
}
.formIcons:hover{
    transform: scale(1.1);
}
.formIcons:focus{
    background-color: rgba(0,0,0,0.12);
}
.formIcons.edit{
    margin: 0 0 0 24px;
}
.formIcons.flag{
    margin: 0 16px 0 0;
}
.columnHead{
    position: absolute;
    font-family: 'Roboto Medium', sans-serif;
    font-size: 13px;
    color: rgba(0,0,0,0.54);
}
.columnHead.nome{
    left: 70px;
}
.columnHead.quant{
    right: 140px;
}



