body {
    font-family: 'Roboto', sans-serif;
    transition: background-color .5s;
    margin: 0;
    padding: 0;
    cursor: default;
    user-select: none;
}

.bar {
    position: fixed;
    transition: 280ms cubic-bezier(0.4, 0.0, 0.2, 1);
    width: 100%;
    height: 58px;
    background-color: #8d6e63;
    color: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.bar-extend {
    height: 162px;
}

.z-index {
    z-index: -1;
}

.nav {
    width: 320px;
    height: 100%;
    position: fixed;
    z-index: 1;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.2s;
    box-shadow:  0 12px 17px 2px rgba(0,0,0,0.14), 0 5px 22px 4px rgba(0,0,0,0.12), 0 7px 8px 0 rgba(0,0,0,0.2);
}

.nav.close {
    width: 320px;
    height: 100%;
    position: fixed;
    z-index: 1;
    background-color: #fff;
    overflow-x: hidden;
    transition: ease-out 0.2s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 4px 12px rgba(0, 0, 0, 0.15);
    transform: translateX(-100%);
}

.action {
    height: 56px;
    background-color: #fff;
    transition: 0.2s;
}

.close {
    height: 0;
    background-color: #fff;
    transition: 0.2s;
}

.nav-inside {
    z-index: 1;
    position: relative;
    height: 56px;
    background-color: #fff;
}

.nav-bar {
    transition: margin-left 0s;
    width: 100%;
    height: 57px;
    background-color: #fff;
    color: #fff;
    border: 1px solid #eee;
}

.active-button {
    background-color: #fff;
}

.nav-button {
    position: absolute;
    padding: 19px;
    background-color: transparent;
}

.nav-action {
    overflow: hidden;
    bottom: 57px;
    position: relative;
    padding: 19px;
    transition: 0.2s;
}

.show {
    background-color: #eee;
    bottom: 0;
    transition: 0.2s;
}

.user-photo {
    outline: none;
    margin: 9px;
    width: 40px;
    border-radius: 50%;
    position: absolute;
    z-index: 10;
    right: 14px;
    transition: 0.2s;
}

.move {
    right: 174px;
}

div.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.arrow-back {
    color: #000;
}

.menu-icon {
    position: relative;
    margin: 17px;
    z-index: 1;
    outline: none;
}

.arrow-list {
    position: absolute;
    right: 0;
    transition: 0.2s;
}

.down {
    transform: rotate(90deg);
    transition: 0.2s;
}

.logo {
    width: 200px;
    position: absolute;
    top: 8px;
    left: 55px;
}

h1 {
    margin: 0;
    color: red;
    font-size: 20pt;
    font-family: 'Roboto', sans-serif;
}

.logoff {
    z-index: 1;
    display: none;
    opacity: 0;
    transform: scale(0.8);
    background-color: #fff;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 14px;
    border-radius: 50px;
    text-align: center;
    transition: 280ms cubic-bezier(0.4, 0.0, 0.2, 1);
    right: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 4px 12px rgba(0, 0, 0, 0.15);
}
.open-logoff {
    border-radius: 50px;
    text-align: center;
    opacity: 1;
    transform: scale(1);
    background-color: #fff;
    width: 80px;
    height: 20px;
    position: fixed;
    right: 26px;
    top: 28px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3), 0 4px 12px rgba(0, 0, 0, 0.15);
    transition:280ms cubic-bezier(0.4, 0.0, 0.2, 1);
    z-index: 1;
}

.background {
    width: 100%;
    height: 100%;
    background-color: transparent;
    position: absolute;
}

.active {
    background-color: rgba(0, 0, 0, 0.3);
}




