*{margin: 0; padding: 0; box-sizing: border-box;}

body {
    background: url("../image/fundo2.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#cs{
    margin-left: 50%;
}
#janela{
    background-color: #fff;
    width: 296px;
    margin: 0 auto;
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.14), 0 3px 4px 0 rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.20);
    border-radius: 2px;
    padding: 16px;
}
#login{
    margin-left: 65px;
    padding-top: 50px;
}
.inputelabel{
    position: relative;
    padding-top: 16px;
    padding-bottom: 16px;
}
.caixa {
    width: 100%;
    height: 26px;
    border-width: 1px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.42);
    outline: none;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    padding-bottom: 0;
    display: block;
}
.label{
    color: rgba(0, 0, 0, 0.42);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    pointer-events: none;
    position: absolute;
    top: 18px;
    transition: 0.2s ease all;
}
.barra{
    position: relative;
    display: block;
    width: 100%;
    bottom: 26px;
}
.barra:before, .barra:after{
    content: "";
    height: 2px;
    width: 0;
    bottom: -1px;
    position: absolute;
    background: rgba(255,0,0,0.87);
    transition: 0.2s ease all;
    top: 25px;
}
.barra:before{
    left: 50%;
}
.barra:after{
    right: 50%;
}
.botao{
    background-color: #e91e63;
    color: #fff;
    width: 100%;
    height: 36px;
    border-radius: 2px;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    outline: none;
    border-style: none;
    margin-left: auto;
    margin-right: auto;
    display: block;
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.14), 0 3px 4px 0 rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.20);
    transition: 0.5s ease all;
}
.botao:hover, .botao:focus, .botao:active{
    background-color: #D81B60;
}
.botao:active{
    box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 3px rgba(0,0,0,0.12), 0 4px 15px 0 rgba(0,0,0,0.20);
}
.botaop {
    background-color: rgba(0, 0, 0, 0.12);
    color: rgba(0, 0, 0, 0.26);
    width: 100%;
    height: 36px;
    border-radius: 2px;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    outline: none;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-style: none;
    transition: 0.5s ease all;
}
input:valid{
    border-bottom: 1px solid rgba(0,0,0,0.42);
}
input:valid ~ .barra:before,
input:valid ~ .barra:after{
    background-color: #e91e63 !important;
}
input:focus ~ .barra:before,
input:focus ~ .barra:after {
    width: 50%;
}

label.sobelabel{
    top: 4px;
    font-size: 12px;
    color: rgba(255,0,0,0.87);
    transition: 0.2s ease all;
}
label.cinza{
    color: rgba(0,0,0,0.42);
    transition: 0.2s ease all;
}
label.rosa{
     color: #e91e63;
     transition: 0.2s ease all;
 }
label.vermelho{
    color: rgba(255,0,0,0.87);
    transition: 0.2s ease all;
}
input.barred{
    border-color: rgba(255,0,0,0.87);
}
p{
    display: none;
    margin-top: 5px;
}
p.si{
    display: block;
    font-size: 12px;
    color: rgba(255,0,0,0.87);
    font-family: 'Roboto', sans-serif;
    margin-top: 5px;
    position: absolute;
}
div.espacamento{
    padding-top: 16px;
}
div.espacamentocoma{
    padding-top: 41px;
}
img.logo{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 75px;
    display: block;
    margin-top: 50px;
}
a{
    font-size: 12px;
    color: #e91e63;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    position: absolute;
    top: 72px;
    margin-left: 75px;
    margin-right: 75px;
}
img.user{
    border-radius: 50%;
    margin-top: -70px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.14), 0 3px 4px 0 rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.20);
    display: block;
}
i.material-icons{
    position: relative;
    bottom: 40px;
    right: 4px;
}
