*{margin: 0; padding: 0; box-sizing: border-box;}

body{
    background: url("../image/fundo.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.login-card{
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    width: 296px;
    max-height: 142px;
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.14), 0 3px 4px 0 rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.20);
    border-radius: 2px;
    overflow: hidden;
    position: relative;
    transition: all 280ms ease;
}
.extend-for-password{
    max-height: 216px;
}
.extend-for-forgot{
    max-height: 170px;
}

.input-design{
    position: relative;
    padding-top: 16px;
    padding-bottom: 16px;
}
.input-box{
    width: 100%;
    height: 26px;
    border-width: 1px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.42);
    outline: none;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    padding-bottom: 0;
    display: block;
}
.input-name{
    color: rgba(0, 0, 0, 0.42);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    pointer-events: none;
    position: absolute;
    top: 18px;
    transition: all 280ms ease;
}
.input-bar{
    position: relative;
    display: block;
    width: 100%;
    bottom: 26px;
}
.input-bar:before, .input-bar:after{
    content: "";
    height: 2px;
    width: 0;
    bottom: -1px;
    position: absolute;
    background: rgba(255,0,0,0.87);
    transition: all 280ms ease;
    top: 25px;
}
.input-bar:before{
    left: 50%;
}
.input-bar:after{
    right: 50%;
}
.button-design-active{
    background-color: #e91e63;
    color: #fff;
    width: 100%;
    height: 36px;
    border-radius: 2px;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    outline: none;
    border-style: none;
    margin-left: auto;
    margin-right: auto;
    display: block;
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.14), 0 3px 4px 0 rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.20);
    transition: all 280ms ease;
}
.button-design-active:hover, .button-design-active:focus, .button-design-active:active{
    background-color: #D81B60;
}
.button-design-active:active{
    box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 3px rgba(0,0,0,0.12), 0 4px 15px 0 rgba(0,0,0,0.20);
}
.button-design{
    background-color: rgba(0, 0, 0, 0.12);
    color: rgba(0, 0, 0, 0.26);
    width: 100%;
    height: 36px;
    border-radius: 2px;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    outline: none;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-style: none;
    transition: all 280ms ease;
}
.input-box:valid{
    border-bottom: 1px solid rgba(0,0,0,0.42);
}
.input-box:valid ~ .input-bar:before,
.input-box:valid ~ .input-bar:after{
    background-color: #e91e63 !important;
}
.input-box:focus ~ .input-bar:before,
.input-box:focus ~ .input-bar:after {
    width: 50%;
}

.up-label{
    top: 4px;
    font-size: 12px;
    transition: all 280ms ease;
}
.grey{
    color: rgba(0,0,0,0.42);
    transition: all 280ms ease;
}

.pink{
     color: #e91e63;
     transition: all 280ms ease;
 }
.red{
    color: rgba(255,0,0,0.87);
    transition: all 280ms ease;
}
.input-box.bar-red{
    border-color: rgba(255,0,0,0.87);
}
.input-box.bar-pink{
    border-color: #e91e63;
}
.error-text{
    display: none;
    margin-top: 5px;
}
.alert{
    display: block;
    font-size: 12px;
    color: rgba(255,0,0,0.87);
    font-family: 'Roboto', sans-serif;
    margin-top: 5px;
    position: absolute;
}
.spacing{
    padding-top: 16px;
}
.spacing-password{
    padding-top: 41px;
}
.logo-CS{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 75px;
    display: block;
    margin-top: 285px;
}

@media screen and (max-width: 450px){
    .logo-CS{
        width: 296px;
        margin-top: 120px;
        margin-bottom: 40px;;

    }
    body {
        background: none;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}

.recovery-password{
    font-size: 12px;
    color: #e91e63;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    position: absolute;
    top: 72px;
    margin-left: 75px;
    margin-right: 75px;
}
.user-photo{
    font-size: 60px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding-top: 16px;
    background-color: #ff6090;
    border-radius: 50%;
    margin-bottom: -50px;
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.14), 0 3px 4px 0 rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.20);
    display: block;
    position: relative;
    transform: scale(0);
    z-index: 1;
    transition: all 280ms ease;
}
.show{
    transform: scale(1);
}
.material-icons{
    position: relative;
    bottom: 24px;
    right: 4px;
    cursor: default;
}
.back-to-password{
    position: relative;
    bottom: 4px;
    right: 4px;
    cursor: default;
}
.change-for-password{
    transform: translateX(-100%);
}
.change-for-forgot{
    transform: translateX(-200%);
}
.overflow{
    overflow: hidden;
}
.flex-container{
    transition: all 280ms ease;
    display: flex;
}
.email-form{
    min-width: 100%;
    padding: 16px;
}
.password-form{
    min-width: 100%;
    padding: 16px;
    margin-top: 21px;
}
.forgot-password-form{
    min-width: 100%;
    padding: 16px;
}
.sent-success {
    border: 1px solid #000;
    opacity: 0;
    transition: 280ms cubic-bezier(0.4, 0.0, 0.2, 1);
     transform: scale(0.4);
    width: 300px;
    height: 100px;
    background-color: #fff;
    border-radius: 2px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    text-align: center;
    bottom: 62px;
}
.sent{
     transform: scale(1);
    opacity: 1;
    bottom: 200px;

}