*{margin: 0; padding: 0; box-sizing: border-box;}

body {
    background: url("../image/fundo.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#cs{
    margin-left: 50%;
}
.card{
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    width: 296px;
    max-height: 142px;
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.14), 0 3px 4px 0 rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.20);
    border-radius: 2px;
    position: relative;
    transition: all 280ms ease;
}
.extend{
    max-height: 216px;
}
.extend2{
    max-height: 170px;
}
#login{
    margin-left: 65px;
    padding-top: 50px;
}
.inputelabel{
    position: relative;
    padding-top: 16px;
    padding-bottom: 16px;
}
.caixa {
    width: 100%;
    height: 26px;
    border-width: 1px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.42);
    outline: none;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    padding-bottom: 0;
    display: block;
}
.label{
    color: rgba(0, 0, 0, 0.42);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    pointer-events: none;
    position: absolute;
    top: 18px;
    transition: all 280ms ease;
}
.barra{
    position: relative;
    display: block;
    width: 100%;
    bottom: 26px;
}
.barra:before, .barra:after{
    content: "";
    height: 2px;
    width: 0;
    bottom: -1px;
    position: absolute;
    background: rgba(255,0,0,0.87);
    transition: all 280ms ease;
    top: 25px;
}
.barra:before{
    left: 50%;
}
.barra:after{
    right: 50%;
}
.botao{
    background-color: #e91e63;
    color: #fff;
    width: 100%;
    height: 36px;
    border-radius: 2px;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    outline: none;
    border-style: none;
    margin-left: auto;
    margin-right: auto;
    display: block;
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.14), 0 3px 4px 0 rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.20);
    transition: all 280ms ease;
}
.botao:hover, .botao:focus, .botao:active{
    background-color: #D81B60;
}
.botao:active{
    box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 3px rgba(0,0,0,0.12), 0 4px 15px 0 rgba(0,0,0,0.20);
}
.botaop {
    background-color: rgba(0, 0, 0, 0.12);
    color: rgba(0, 0, 0, 0.26);
    width: 100%;
    height: 36px;
    border-radius: 2px;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    outline: none;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-style: none;
    transition: all 280ms ease;
}
input:valid{
    border-bottom: 1px solid rgba(0,0,0,0.42);
}
input:valid ~ .barra:before,
input:valid ~ .barra:after{
    background-color: #e91e63 !important;
}
input:focus ~ .barra:before,
input:focus ~ .barra:after {
    width: 50%;
}

label.sobelabel{
    top: 4px;
    font-size: 12px;
    transition: all 280ms ease;
}
label.cinza{
    color: rgba(0,0,0,0.42);
    transition: all 280ms ease;
}
label.rosa{
     color: #e91e63;
     transition: all 280ms ease;
 }
label.vermelho{
    color: rgba(255,0,0,0.87);
    transition: all 280ms ease;
}
input.barred{
    border-color: rgba(255,0,0,0.87);
}
p{
    display: none;
    margin-top: 5px;
}
p.alert{
    display: block;
    font-size: 12px;
    color: rgba(255,0,0,0.87);
    font-family: 'Roboto', sans-serif;
    margin-top: 5px;
    position: absolute;
}
div.espacamento{
    padding-top: 16px;
}
div.espacamentocoma{
    padding-top: 41px;
}
img.logo{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 75px;
    display: block;
    margin-top: 285px;
}

@media screen and (max-width: 450px){
    img.logo{
        width: 296px;
        margin-top: 120px;
        margin-bottom: 40px;;

    }
    body {
        background: none;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}
a{
    font-size: 12px;
    color: #e91e63;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    position: absolute;
    top: 72px;
    margin-left: 75px;
    margin-right: 75px;
}
div.user{
    font-size: 60px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding-top: 14px;
    background-color: #e91e63;
    border-radius: 50%;
    margin-bottom: -50px;
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.14), 0 3px 4px 0 rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.20);
    display: block;
    position: relative;
    transform: scale(0);
    z-index: 1;
    transition: all 280ms ease;
}
div.show{
    transform: scale(1);
}
i.material-icons{
    position: relative;
    bottom: 24px;
    right: 4px;
    cursor: default;
}
i.material-icons.esq{
    position: relative;
    bottom: 4px;
    right: 4px;
    cursor: default;
}
.slide{
    transform: translateX(-100%);
}
.slide2{
    transform: translateX(-200%);
}
.overflow{
    overflow: hidden;
}
.flexContainer{
    transition: all 280ms ease;
    display: flex;
}
.divEmail{
    min-width: 100%;
    padding: 16px;
}
.divSenha{
    min-width: 100%;
    padding: 16px;
    margin-top: 21px;
}
.divEsq{
    min-width: 100%;
    padding: 16px;
}